/* Bloque principal: category-item */
.category-item {
	display: flex;
	position: relative; /* Necesario para posicionar el modal */
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;
	border-radius: 8px;
	background-color: var(--bg-secondary);
	padding: 1rem;
}

/* Header del item de categoría */
.category-item__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.category-item__title {
	margin: 0;
	font-size: 1.5rem;
}

.category-item__delete-button {
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #e74c3c;
	padding: 0.5rem 1rem;
	color: #fff;
}

.category-item__delete-button:hover {
	background-color: #c0392b;
}

/* Estilos para el input de texto y el área de texto */
.category-item__text-input,
.category-item__text-area-input {
	margin-bottom: 1rem;
}

.category-item__text-input input,
.category-item__text-area-input textarea {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem;
	width: 100%;
}

.category-item__text-area-input textarea {
	resize: vertical; /* Permite ajustar la altura */
}

/* Estilo para el botón de actualizar categoría */
.category-item__update-button {
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #1f7944;
	padding: 0.5rem 1rem;
	color: #fff;
}

.category-item__update-button:hover {
	background-color: #27ae60;
}
.category-item__edit-button {
	opacity: 0.6;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: var(--warning);
	padding: 0.5rem 1rem;
	color: var(--text-primary);
}

/* Estilos para el modal */
.category-item__modal {
	position: fixed;
	z-index: 2000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 2rem;
	width: 80%;
	max-width: 800px;
	overflow: auto;
}

.category-item__modal .button {
	margin-top: 1rem;
}

.category__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 1rem;
	padding: 0;
	width: 100%;
	list-style: none;
}
.category__columns {
	display: flex;
	gap: 1rem;
}
.category__column-left {
	flex: 1;
}
.category__column-right {
	width: fit-content;
}

form {
	max-width: 1200px;
}
