.options__card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s;
	border-radius: 4px;
	background-color: var(--accent-primary);
	padding: 20px;
	color: inherit;
	text-decoration: none;
}

.options__card:hover {
	background-color: var(--bg-secondary);
}

.options__card-text {
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.options__card-icon {
	width: 24px;
	height: 40px;
}

.options__card-content {
	display: flex;
	flex-direction: column; /* Alinea el texto y la descripción verticalmente */
}

.options__card-description {
	margin: 0;
	color: var(--text-secondary);
	font-size: 1em;
}
