.breadcrumb {
	margin-left: 2.5rem;
}
.breadcrumb span {
	display: inline;
	opacity: 1;
	color: white;
	text-transform: capitalize;
}

.breadcrumb span a {
	color: white;
	text-decoration: none;
}

.breadcrumb .separator {
	padding: 10px;
}
