.deletionmodal {
	display: flex;
	position: absolute;
	top: 150px;
	left: 30%;
	flex-direction: column;
	z-index: 200;
	border-radius: 10px;
	background-color: #03121d;
	padding: 30px;
	color: white;
}
.deletionmodal img,
h4 {
	align-self: center;
}
.deletionmodal h4 {
	opacity: 0.6;
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 100;
	font-size: normal;
	text-decoration: none;
}
.deletionmodal img {
	border-radius: 20px;
	height: 12rem;
}
.deletionmodal .buttons {
	display: flex;
	justify-content: space-between;
}
.deletionmodal .buttons .cancel {
	margin: auto;
	border: 0px;
	border-radius: 10px;
	background-color: rgba(0, 89, 255, 0.521);
	padding: 10px;
	width: fit-content;
}
.deletionmodal .buttons .delete {
	margin: auto;
	border: 0px;
	border-radius: 10px;
	background-color: rgba(255, 0, 0, 0.521);
	padding: 10px;
	width: fit-content;
}
