.table {
	margin: 20px 0;
	border-collapse: collapse;
	width: 100%;
	overflow: auto;
}

.table__element {
	background-color: var(--accent-secondary);
	width: 100%;
}

.table__head {
	background-color: var(--accent-primary);
}

.table__row,
.table__row--vertical {
	transition: background-color 0.3s;
}

.table__header {
	padding: 10px;
	font-weight: bold;
	text-align: left;
}

.table__body .table__row:hover {
	background-color: var(--input-bg);
}

.table__cell,
.table__cell--vertical {
	border-top: 1px solid var(--bg-primary);
	border-right: 1px solid var(--bg-primary);
	padding: 10px;
	text-align: left;
}
.table__button {
	transition: background-color 0.3s;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
}

.table__button--view {
	background-color: var(--info);
	color: var(--text-primary);
}

.table__button--edit-role {
	background-color: var(--info);
	color: var(--text-primary);
}

.table__button--edit {
	background-color: var(--warning);
	color: var(--text-primary);
}

.table__button--delete {
	background-color: var(--error);
	color: var(--text-primary);
}

.table__button:hover {
	opacity: 0.8;
}

.table__button--disabled {
	cursor: not-allowed;
	background-color: var(--neutral);
	color: var(--bg-secondary);
}
.table__row--vertical:nth-child(even) {
	background-color: rgba(27, 28, 32, 0.541);
}
@media screen and (max-width: 1094px) {
	.table__row--vertical {
		display: block;
	}

	.table__cell--vertical {
		display: block;
	}
}
