.editable {
	margin-bottom: 15px;
	border-radius: 8px;
	padding: 15px;
	color: var(--text-primary);
}

.editable label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.editable .content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 10px; /* Adjust margin as needed */
}

.editable p {
	flex-grow: 1;
	margin: 0;
}

.editable form {
	flex-grow: 1;
	margin-right: 10px;
}

.editable input,
.editable textarea {
	margin: 0;
	border-radius: 4px;
	padding: 5px;
	width: auto;
}

.editable textarea {
	min-height: 100px;
	resize: vertical;
}

.editable .buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 10px; /* Adjust margin as needed */
}

.editable button {
	transition: opacity 0.3s ease;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
}

.editable .edit {
	margin: 0;
	background-color: var(--neutral);
	color: var(--button-text);
}

.editable .edit:hover {
	opacity: 0.5;
}

.editable .save {
	margin: 0;
}

.editable .content {
	flex-direction: column;
}
