.return {
	margin: 0 2rem;
}

.return__link {
	display: flex;
	gap: 0.5rem;
	color: var(--info);
}
.return__link:hover {
	color: var(--text-primary);
}
.return__icon {
	width: 1em;
	height: 1em;
	fill: currentColor;
}
