.choserol {
	border-radius: 10px;
	background-color: #03121d;
	padding: 50px;
	width: fit-content;
}
.choserol select {
	margin: 5px 0;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
	color: #03121d;
}
.choserol button {
	background-color: #007bff;
	padding: 10px;
}
