.choserol {
	border-radius: 10px;
	background-color: var(--card-bg);
	padding: 50px;
	width: fit-content;
}
.choserol select {
	margin: 5px 0;
	border-radius: 10px;
	background-color: var(--text-primary);
	padding: 5px;
	color: var(--card-bg);
}
.choserol button {
	background-color: #007bff;
	padding: 10px;
}
