.successMessage{
    background-color: #2ed136a6;
    color: #a8ff97;
    padding: 15px;
    border-radius: 20px;
    z-index: 10;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}