.successMessage {
	display: flex;
	position: fixed;
	top: 20%;
	right: 20%;
	align-items: center;
	z-index: 300;
	animation: slideIn 0.3s ease-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: var(--success);
	padding: 12px 20px;
	color: var(--button-text);
}

.successMessage .success-icon {
	margin-right: 12px;
	font-size: 24px;
}

.successMessage p {
	margin: 0;
	font-weight: 500;
	font-size: 16px;
}

@keyframes slideIn {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
