.text-input {
	margin: 16px 0; /* Espaciado entre los elementos */
	font-family: Arial, sans-serif; /* Fuente por defecto */
}

.text-input__label {
	display: block; /* Para que la etiqueta ocupe toda la línea */
	margin-bottom: 8px; /* Espaciado debajo de la etiqueta */
	font-weight: bold; /* Negrita para la etiqueta */
}

.text-input__input {
	border: 1px solid var(--accent-secondary); /* Borde suave */
	border-radius: 4px; /* Bordes redondeados */
	padding: 8px; /* Espaciado interno */
	width: 100%; /* Ocupa todo el ancho del contenedor */
	font-size: 14px; /* Tamaño de fuente */
}

.text-input__input:focus {
	outline: none; /* Quitar el contorno por defecto */
	border-color: var(--accent-primary); /* Color del borde al enfocar */
}

.text-input__input::placeholder {
	color: #aaa; /* Color del texto del placeholder */
}
