.toolinfo {
	display: flex;
	justify-content: space-between;
}
.toolinfo > div > input {
	display: block;
	margin-top: 0.5rem;
	margin-left: -0.3rem;
}
.toolinfo > div {
	display: block;
}
.image-upload {
	display: flex;
	gap: 10px;
}
.image-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px dashed var(--neutral);
	border-radius: 10px;
	background-color: var(--neutral);
	padding: 10px;
	width: 200px;
	height: 200px;
}
.add-image {
	border: 2px dashed var(--accent-primary);
	color: var(--accent-primary);
}
.characteristics {
	display: grid;
	gap: 10px;
}
.characteristics .characteristic-item {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px;
}
.createtoolform .delete {
	margin: 0;
	margin-bottom: 15px;
	border: 0px;
	background-color: transparent;
	padding: 0;
	color: var(--error);
}
.specifications {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
	gap: 3rem;
	text-transform: capitalize;
}

.specifications input {
	margin-top: 0.5rem;
	width: 60px;
}
.file-upload {
	display: grid;
	gap: 10px;
}

.specifications {
	margin: 0.5rem 0;
	border-radius: 10px;
	background-color: var(--bg-secondary);
	padding: 1rem;
}

.specifications .input-container {
	display: flex;
	align-items: center;
}

.specifications .input-container input {
	margin-right: 0.5rem;
	border-radius: 4px;
	padding: 0.5rem;
	width: 10rem;
}

.input-container span {
	border-radius: 4px;
	padding: 0.5rem;
}

.selectfamily {
	display: grid;
	margin: 30px 0;
}
.selectfamily select {
	margin: 20px 20px;
}
.selectfamily label {
	margin: 5px 0;
}
