.familylist {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 20px;
	color: var(--text-primary);
	list-style-type: none;
}

.familylist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.family {
	margin: 10px 0;
	border-radius: 8px;
	background-color: var(--card-bg);
	padding: 20px;
	color: var(--text-primary);
	text-transform: capitalize;
}

.family .buttons.family {
	float: right;
	margin: 0;
	padding: 0;
}

.family .buttons.family button {
	transition: background-color 0.3s ease;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: transparent;
	padding: 5px;
}

.family .buttons .edit {
	color: var(--info);
}

.family > .buttons .delete {
	color: var(--error);
}

.family h2 {
	margin-bottom: 0;
	color: var(--text-secondary);
	font-size: 1.5em;
}

.family .id {
	display: block;
	margin-top: -0.1rem;
	margin-bottom: 1.5rem;
	color: var(--neutral);
	font-size: 0.8em;
}

.family span {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

.family p {
	margin: 0 0 10px 0;
	color: var(--text-secondary);
}

.family ul {
	margin: 0;
	padding-left: 20px;
	list-style-type: none;
}

.family ul li {
	position: relative;
	margin-bottom: 5px;
	margin-left: -2rem;
	color: var(--text-secondary);
}

.family ul li::before {
	display: inline-block;
	margin-right: 0.5rem;
	margin-left: -1em;
	width: 1em;
	font-weight: bold;
}

.family ul ul {
	margin-left: 20px;
}

.family ul ul li::before {
	content: '⚙';
	color: var(--accent-secondary);
}
.editSpecification .autocomplete {
	margin-bottom: 0px;
	background-color: var(--card-bg);
	padding: 20px;
	width: 250px;
	height: 150px;
	color: var(--text-primary);
}
.editSpecification .autocomplete .options-container {
	top: 100%;
	left: -5%;
}

/* Grid layout styles */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 20px;
}

/* Card styles */
.card {
	border-radius: 8px;
	overflow: hidden;
}

/* Card header styles */
.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--text-secondary);
	padding: 15px;
}

/* Card title styles */
.cardTitle {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
}

/* Card content styles */
.cardContent {
	padding: 15px;
}
/* dropdownmenu.css */
.dropdown {
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
}

.dropdown-title {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.category-list {
	padding: 0;
	list-style-type: none;
}

.category-item {
	margin-bottom: 10px;
}

.category-header {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 4px;
	padding: 5px 10px;
}

.category-header svg {
	margin-left: 10px;
}

.category-content {
	margin-top: 10px;
	margin-left: 20px;
}

.subtitle {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

.specs-list,
.subcategory-list {
	padding-left: 20px;
	list-style-type: none;
}

.subcategory-item {
	margin-bottom: 10px;
}
