.login-bg-airontools {
	background-color: var(--bg-primary);
}

.login-bg-desumex {
	background-color: #0b2e5c;
}

.login-bg-coirmex {
	background-color: #362b2b;
}

header {
	display: flex;
	justify-content: space-around;
	top: 0;
	background-color: var(--menu-bg);
	padding: 20px 0;
	min-width: 100%;
}

header .logoimg {
	margin: 0;
	margin-left: 2em;

	width: 100px;
}

header h1 {
	width: 400px;
	font-size: 1.5em;
}

header h1 span {
	text-transform: capitalize;
}

.login {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.login form {
	display: grid;
}

.login form img {
	margin: 0;
	padding: 0;
	width: 200px;
}

.login h2 {
	margin-top: 0;
	border-bottom: 2px solid var(--text-primary);
	font-weight: normal;
	font-size: 2em;
}

.login form label {
	padding: 10px 0;
	color: var(--text-primary);
	font-size: large;
}

.login form input {
	margin: 2px;
	border-radius: 20px;
	padding: 15px;
}

.login form button {
	margin-top: 10px;
	border: 0px;
	border-radius: 30px;
	background-color: var(--accent-primary);
	padding: 15px;
	color: var(--text-primary);
	font-weight: bold;
	font-size: medium;
}

.passwordInput {
	display: grid;
	grid-template-columns: 1fr auto;
}

.login form .passwordInput>button {
	border-radius: 10px;
	background-color: transparent;
	padding: 5px;
	width: fit-content;
	height: fit-content;
	color: var(--text-primary);
}