body{
  background-color: #092B48;
}
header{
  top: 0;
  position: relative;
  background-color: #18181B;
  width: 100%;
  display: flex;
  padding: 20px 0;
}
header img{
  width: 40px;
  margin-left: 30px;
  padding: 0 20px;
}
header h1{
  font-size: medium;
}

.login {
  margin-top: 60px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.login form{
  display: grid;
}
.errorLogin{
  background-color: #d12e2ea6;
  color: #ff9797;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
}

.login h2{
  font-size: 2em;
  margin-top: 0;
  font-weight: normal;
  border-bottom: 2px solid white;
}

.login form label{
  color: white;
  font-size: large;
  padding: 10px 0;
}
.login form input{
  background-color: white;
  color: #18181B;
  padding: 15px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 2px;
}
.login form input:focus{
  background-color: #1196E6;
  
}
.login form button{
  background-color: #1196E6;
  color: white;
  padding: 15px;
  border: 0px;
  border-radius: 30px;
  font-weight: bold;
  font-size:medium;
  margin-top: 10px;
}