body {
	background-color: #092b48;
}

header {
	display: grid;
	position: absolute;
	top: 0;
	grid-template-columns: repeat(2, 200px);
	background-color: #18181b;
	padding: 20px 0;
	width: 100%;
}

header .logoimg {
	margin-left: 30px;
	margin: 0;
	padding: 0 20px;
	width: 100px;
}

header h1 {
	font-size: medium;
}

.login {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.login form {
	display: grid;
}

.login form img {
	margin: 0;
	padding: 0;
	width: 200px;
}

.login h2 {
	margin-top: 0;
	border-bottom: 2px solid white;
	font-weight: normal;
	font-size: 2em;
}

.login form label {
	padding: 10px 0;
	color: white;
	font-size: large;
}

.login form input {
	margin: 2px;
	border: 2px solid white;
	border-radius: 20px;
	background-color: white;
	padding: 15px;
	color: #18181b;
}

.login form input:focus {
	background-color: #1196e6;
}

.login form button {
	margin-top: 10px;
	border: 0px;
	border-radius: 30px;
	background-color: #1196e6;
	padding: 15px;
	color: white;
	font-weight: bold;
	font-size: medium;
}
