.content main h3 span {
	padding-right: 100px;
}
.content main h3 {
	border-bottom: 2px solid var(--text-primary);
	width: fit-content;
	color: var(--text-primary);
	font-size: xx-large;
}

.content main .options.users .card {
	flex-direction: row;
	justify-content: space-between;
	height: 4rem;
}

.userlist ul {
	background-color: var(--bg-tertiary);
	padding: 0;
	color: var(--text-primary);
	list-style-type: none;
}
.userlist ul .title {
	opacity: 0.8;
	background-color: var(--accent-primary);
}
.userlist ul li {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr)) repeat(3, 130px);
	margin: 0;
	border-bottom: 1px solid var(--bg-secondary);
	padding: 5px;
	overflow: hidden;
}
.userlist ul li p,
.userpicture {
	margin: auto;
	padding: 10px 0;
}
.userpicture {
	border-radius: 10px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--accent-primary);
	width: 50px;
	width: 3rem;
	height: 2rem;
	object-fit: cover;
}
.userlist ul li p:first-child {
	padding-left: 15px;
}
.userlist ul li p {
	word-break: break-all;
}
.userlist ul li button {
	margin: auto;
	border: 0px;
	border-radius: 10px;
	padding: 10px;
	width: fit-content;
}

.userlist ul li .editrol {
	background-color: rgba(255, 0, 157, 0.521);
}
@media (max-width: 1024px) {
	.userlist ul li {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}
	.userlist ul li p {
		font-size: small;
	}
	.userlist ul li button {
		padding: 5px;
	}
}

.images {
	display: flex;
}
