.cuerpo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 2rem;
}
.create-role-form {
	margin: 0;
	border-radius: 8px;
	padding: 1rem;
	max-width: 400px;
	color: var(--text-primary);
}

.create-role-form h2 {
	margin-bottom: 1rem;
}

.create-role-form label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--text-primary);
	font-weight: bold;
}

.create-role-form input {
	width: 95%;
}
.create-role-form textarea {
	width: 95%;
}

.create-role-form button {
	width: 100%;
}

.createdby {
	opacity: 0.5;
}
.error-message {
	color: red;
}

.success-message {
	color: green;
}
.role-list h2 {
	color: var(--text-primary);
}
.role-list ul {
	list-style-type: none;
}
.role-list ul li {
	display: grid;
}
.role-list ul li > button {
	margin-left: 50%;
	border-bottom: 2px solid var(--bg-secondary);
	border-radius: 10px;
	background-color: var(--accent-secondary);
	padding: 10px;
}

.role-details {
	margin-bottom: 16px; /* mb-4 */
	border-radius: 8px; /* rounded-md */
	background-color: var(--bg-secondary);
	padding: 16px; /* p-4 */
}

.role-details-summary {
	cursor: pointer; /* cursor-pointer */
	font-weight: bold; /* font-bold */
}

.role-details-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px; /* gap-4 */
	margin-top: 16px; /* mt-4 */
}

.role-details-item {
	display: flex;
	justify-content: space-between;
}

.role-details-item-label {
	color: var(--neutral);
}

.role-details-item-value {
	color: var(--text-secondary);
}
