.content main h3 span{
    padding-right: 100px;
}
.content main h3{
    font-size: xx-large;
    color: white;
    border-bottom: 2px solid white;
    width: fit-content;
}

.content main .options.users .card{
    justify-content: space-between;
    flex-direction: row;
    height: 4rem;
}

.userlist h2{
    color: white;
    border-bottom: 1px solid white;
}
.userlist input{
    color: #102e42;
    background-color: aliceblue;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
}
.userlist ul{
    list-style-type: none;
    background-color: #046eb548;
    color: white;
    padding: 0;
}
.userlist ul .title{
    background-color: #046eb556;
}
.userlist ul li{
    display: grid;
    margin: 0;
    grid-template-columns: repeat(4, minmax(0, 1fr)) repeat(3,130px);
    border-bottom: 2px solid #102e42;
    overflow: hidden;
}
.userlist ul li p,img{
    margin: auto;
    padding: 10px 0;
}
.userlist ul li p:first-child{
    padding-left: 15px;
}
.userlist ul li p{
    word-break: break-all;
}
.userlist ul li button{
    width: fit-content;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}
.userlist ul li .delete{
    background-color: rgba(255, 0, 0, 0.521);
}
.userlist ul li .edit{
    background-color: rgba(255, 166, 0, 0.521);
}
.userlist ul li .editrol{
    background-color: rgba(255, 0, 157, 0.521);
}
@media (max-width: 1024px) {
    .userlist ul li{
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .userlist ul li p{
        font-size: small;
    }
    .userlist ul li button{
        padding: 5px;
    }
}
.deletionmodal{
    z-index: 100;
    background-color: #03121d;
    position: absolute;
    top: 150px;
    left: 30%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.deletionmodal img,h4{
    align-self: center;
}
.deletionmodal h4{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: normal;
    font-weight: 100;
    text-decoration: none;
    opacity: 0.6;
}
.deletionmodal img{
    height: 12rem;
    border-radius: 20px;
}
.deletionmodal .buttons{
    display: flex;
    justify-content: space-between;
}
.deletionmodal .buttons .cancel{
    width: fit-content;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(0, 89, 255, 0.521);
}
.deletionmodal .buttons .delete{
    width: fit-content;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.521);
}
.images{
    display: flex;
}
.choserol{
    background-color: #03121d;
    border-radius: 10px;
    width: fit-content;
    padding: 50px;
}
.choserol select{
    background-color: white;
    padding: 5px;
    color: #03121d;
    border-radius: 10px;
    margin: 5px 0;
}
.choserol button{
    padding: 10px;
    background-color: #007bff;
}