.cuerpo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 2rem;
}
.create-role-form {
	margin: 0;
	border-radius: 8px;
	padding: 1rem;
	max-width: 400px;
	color: white;
}

.create-role-form h2 {
	margin-bottom: 1rem;
}

.create-role-form label {
	display: block;
	margin-bottom: 0.5rem;
	color: white;
	font-weight: bold;
}

.create-role-form input {
	margin-bottom: 1rem;
	border-radius: 10px;
	background-color: white;
	padding: 0.5rem;
	padding: 10px;
	width: 95%;
	color: black;
}

.create-role-form button {
	margin-top: 1.5rem;
	border: none;
	border: 0px;
	border-bottom: 4px #093f63 solid;
	border-radius: 4px;
	border-radius: 15px;
	background-color: #007bff;
	background-color: #046db5;
	padding: 0.5rem 1rem;
	padding: 15px;
	width: 100%;
	color: white;
}

.createdby {
	opacity: 0.5;
}
.error-message {
	color: red;
}

.success-message {
	color: green;
}
.role-list h2 {
	color: white;
}
.role-list ul {
	list-style-type: none;
}
.role-list ul li {
	display: grid;
}
.role-list ul li button {
	margin-left: 50%;
	border: 0px;
	border-radius: 10px;
	background-color: #031724;
	padding: 10px;
}
.role-list ul li .combobox {
	margin: 10px 0;
	background-color: #093f63;
	font-size: 1.1rem;
}
.role-list ul li .combobox:hover {
	color: white;
}

.role-list ul li .comboboxOptions {
	margin-top: -10px;
	border-radius: 10px;
	background-color: #093f63;
	padding-bottom: 20px;
}
