.register {
	display: flex;
	border-top: 1rem;
	color: white;
}

.register form {
	display: grid;
	row-gap: 1rem;
	margin: 0 2rem;
}
.register form label {
	color: white;
}
.register form input {
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	color: black;
}

.register form .profileimage {
	vertical-align: middle;
	margin-right: 1.5rem;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
	background-color: #046db5;
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	line-height: 10rem;
	text-align: center;
}

.register form .passwordgenerator {
	display: flex;
	justify-content: start;
}
.register form .passwordgenerator p {
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	width: 100px;
	height: 20px;
	color: black;
}

.register form .passwordgenerator input {
	transition: 100ms ease-in-out opacity;
	cursor: pointer;
	margin-right: 1rem;
	border: 0px;
	border-radius: 10px;
	background-color: #046db5;
	padding: 0 10px;
	color: white;
}
.register form .passwordgenerator input:hover {
	opacity: 0.6;
}

.register form button {
	margin-top: 1.5rem;
	border: 0px;
	border-bottom: 4px #093f63 solid;
	border-radius: 15px;
	background-color: #046db5;
	padding: 15px;
}
.register form select {
	margin: 0;
	border: 0px;
	border-radius: 15px;
	background-color: #046db5;
	padding: 10px;
}

.register form select option {
	opacity: 0.7;
	border-bottom: 1px #093f63 solid;
	background-color: #046db5;
	padding: 5px;
}

.custom-file-upload {
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #007bff;
	padding: 10px;
	color: #fff;
}
