.register{
    border-top: 1rem;
    display: flex;
}

.register form{
    display: grid;
    row-gap: 1rem;
}
.register form label{
    color: white;
}
.register form input{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.register form .profileimage{
    display: flex;
    justify-content: start;
}
.register form .profileimage .image{
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #046DB5;
    text-align: center;
    vertical-align: middle;
    line-height: 10rem;
    margin-right: 1.5rem;
}

.register form .profileimage input[type="file"]{
    background-color: white;
    height: 1.2rem;
    align-self: center;
    opacity: 0.8;
}


.register form .passwordgenerator{
    display: flex;
    justify-content: start;
}
.register form .passwordgenerator p{
    background-color: white;
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}

.register form .passwordgenerator input{
    background-color: #046DB5;
    padding: 0 10px;
    border-radius: 10px;
    border: 0px;
    margin-right: 1rem;
    cursor: pointer;
    transition: 100ms ease-in-out opacity;
}
.register form .passwordgenerator input:hover{
    opacity: 0.60;
}

.register form button{
    margin-top: 1.5rem;
    background-color: #046DB5;
    padding: 15px;
    border-radius: 15px;
    border: 0px;   
    border-bottom: 4px #093f63 solid;
}
.register form .combobox{
    margin: 0;
    border: 0px;
    padding: 10px;
    margin-bottom: -15px;
}
.register form .comboboxOptions{
    margin: 0;
    padding: 0;
}
.register form .comboboxOptions li{
    background-color: #046DB5;
    opacity: 0.7;
    padding: 5px;
    margin-right: 30px;
    margin-left: 10px;
    border-bottom: 1px #093f63 solid;
}
.register form .comboboxOptions li a{
    margin: 0;
    border: 0px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: small;
    cursor: pointer;
    transition: 100ms ease-in-out opacity;
}
.register form .comboboxOptions li:hover{
    opacity: 1;
}



.success{
    background-color: #2ed136a6;
    color: #a8ff97;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    
}