.images-input {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 8px;
	padding: 20px;
	max-width: 1200px;
}

.images-input__label {
	display: block;
	margin-bottom: 10px;
	color: var(--text-primary);
	font-size: 1.2rem;
}

.images-input__loaded {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.images-input__placeholder {
	margin-bottom: 15px;
	border: 2px dashed var(--accent-primary);
	border-radius: 8px;
	padding: 20px;
	text-align: center;
}

.images-input__placeholder-label {
	cursor: pointer;
	color: var(--accent-primary);
}

.images-input__file-input {
	display: none;
}

.images-input__preview {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.images-input__preview-title {
	margin-right: 10px;
	font-weight: bold;
}

.images-input__image {
	margin-right: 10px;
	border-radius: 10px;
	background-color: #000;
	width: 200px;
}

.images-input__delete-button {
	position: absolute;
	top: 0;
	right: 10px;
	cursor: pointer;
	margin-left: auto;
	border: none;
	background: transparent;
}

.images-input__delete-button:hover {
	color: var(--error);
}
.images-input__loaded-title {
	margin-top: 15px;
	margin-bottom: 10px;
	color: var(--success);
	font-weight: bold;
	font-size: 1.2rem;
}

.images-input__preview-title {
	margin-top: 15px;
	margin-bottom: 10px;
	color: var(--warning);
	font-weight: bold;
	font-size: 1.2rem;
}

.images-input__loaded,
.images-input__preview {
	position: relative;
	border-radius: 8px;
	width: fit-content;
	height: fit-content;
	color: var(--text-primary);
	font-weight: bold;
}
