:root {
	background-color: #242424;
	color: rgba(255, 255, 255, 0.87);

	color-scheme: light dark;
	--dark-bg: #051424;
	--dark-slider-bg: #090a0e;
	--dark-input-bg: #0c1c2c;
	--dark-border: #34495e;
	--dark-title: #3498db;
	--dark-text: white;

	background-color: var(--dark-bg);
	color: var(--dark-text);

	font-weight: 400;
	line-height: 1.5;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}
button {
	transition: 150ms ease-in-out opacity;
	cursor: pointer;
}
button:hover {
	opacity: 0.6;
}
