/* Estilos generales */
.mainPage {
    display: flex;
    height: 100vh;
    color: #040b16;
    background-color: #ffffff;
}

/* Estilos de la barra lateral */
.sidebar {
    width: 16rem;
    padding: 1.5rem;
    background-color: #18181B;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.sidebar .title img {
    margin-right: 0.5rem;
    width: 4rem;
}

.sidebar .title h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #046DB5;
}

.sidebar a {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #F3F4F6;
}
.sidebar a svg{
    margin-right: 1rem;
}

.sidebar a:hover {
    background-color: #F3F4F6;
    color: black;
}

.sidebar .combobox{
    color: #F3F4F6;
    font-size: 1rem;
}
/* Estilos del combo box */
.combobox {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    border: 0px;
    width: 100%;
    padding: 0.5rem;
    font-size: normal;
}

.combobox:hover {
    background-color: #F3F4F6;
    color: black;
}

.combobox .icon {
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.combobox .animate {
    transform: rotate(-180deg);
}

.comboboxOptions {
    margin: auto;
    list-style-type: none;
}

.comboboxOptions li {
    display: block;
    padding: 0.1rem;
    border-radius: 0.25rem;
}

/* Estilos del contenido principal */
.content {
    flex: 1 1 0%;
    overflow: auto;
}

header {
    display: flex;
    align-items: center;
    background-color: #18181B;
    color: #F3F4F6;
    top: 0;
    position: sticky;
}

.content header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content header h2 {
    margin-left: 2.5rem;
}
.content header h2 span a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.content header h2 .separator{
    padding: 10px;
}
.content .userinfo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2.5rem;
}

.content .userinfo .userpic {
    display: inline-block;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #046DB5;
}

.content .userinfo p {
    margin: 0 1rem;
}

.content .userinfo p span{
    color:yellow;
}

.content .userinfo button {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0px;
}

.content .userinfo button:hover {
    background-color: cornflowerblue;
}

.content main {
    padding: 1.5rem;
    background-color: #092B48;
    min-height: 100vh;
}

.content main .options {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
    justify-content: start;
}

.content main .options .card {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #046DB5;
    padding: 2em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 0px;
    transition: background-color 200ms ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content main .options .card:hover {
    background-color: #046eb57c;
}

.content main .options .card svg {
    width: 6rem; 
    height: 6rem; 
    color: #092B48;
    text-align: center;
    align-self: center;
    margin: 1rem 0;
}
.content main .options .card dl{
   align-self: center; 
}
.content main .options .card dl dt {
    
    font-size: 1.5rem;
    font-weight:lighter;
    color: #ffffff;
    overflow: hidden;
    line-break: auto;
    text-align: left;
}

/* Media queries */
@media (min-width: 640px) {
    .content main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .content main .options {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .content main {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .content main .options {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
